$kendo-window-inner-padding-x: 20px;
$kendo-window-inner-padding-y: 20px;
$kendo-input-border: rgba(66, 66, 66, 0.5);
$kendo-input-hover-border: #424242;
$kendo-picker-outline-hover-text:black;
@import '~@progress/kendo-theme-default/dist/all.scss';
