@import '../../themes/constants.scss';

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: $theme_color;
  height: 50px;
  padding: 0 30px;
}
.paginationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  outline: 0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  // color: rgba(250, 250, 250, 0.8);
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(250, 250, 250, 1);
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  // background-color: transparent;
  border: none;
  margin: 0 3px;
}
// .activePage {
//   background-color: rgba(0, 0, 0, 0.15);
//   color: rgba(250, 250, 250, 1);
// }
.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  user-select: none;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}
.arrow {
  color: rgba(250, 250, 250, 1);
}
.disabled {
  color: rgba(250, 250, 250, 0.5);
  cursor: not-allowed;
}
